# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Directory for local environment-specific configuration
.env.local

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Build directories
dist/
build/

# IDE specific files
.vscode/
.idea/

# Debugging
.eslintcache
